################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Demo/bin
/Demo/obj
/Demo/Demo.csproj.user
